<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.modular.film.mapper.MtimeFilmTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.modular.film.bean.MtimeFilmT">
        <id column="UUID" property="uuid" />
        <result column="film_name" property="filmName" />
        <result column="film_type" property="filmType" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="filmScore" />
        <result column="film_preSaleNum" property="filmPresalenum" />
        <result column="film_box_office" property="filmBoxOffice" />
        <result column="film_source" property="filmSource" />
        <result column="film_cats" property="filmCats" />
        <result column="film_area" property="filmArea" />
        <result column="film_date" property="filmDate" />
        <result column="film_time" property="filmTime" />
        <result column="film_status" property="filmStatus" />
    </resultMap>

    <!--按分类ID查询-->
    <select id="queryFilmByCat" resultType="com.stylefeng.guns.rest.modular.film.bean.dictionary.Category">
        select UUID catId,show_name catName from mtime_cat_dict_t where UUID = #{catId}
    </select>

    <!--按片源ID查询-->
    <select id="queryFilmBySource" resultType="com.stylefeng.guns.rest.modular.film.bean.dictionary.Source">
        select UUID sourceId,show_name sourceName from mtime_source_dict_t where UUID = #{sourceId}
    </select>

    <!--按年代ID查询-->
    <select id="queryFilmByYear" resultType="com.stylefeng.guns.rest.modular.film.bean.dictionary.FilmYear">
        select UUID yearId,show_name yearName from mtime_year_dict_t where UUID = #{yearId}
    </select>

</mapper>
