<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.modular.film.mapper.MtimeFilmTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.modular.film.bean.MtimeFilmT">
        <id column="UUID" property="uuid" />
        <result column="film_name" property="filmName" />
        <result column="film_type" property="filmType" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="filmScore" />
        <result column="film_preSaleNum" property="filmPresalenum" />
        <result column="film_box_office" property="filmBoxOffice" />
        <result column="film_source" property="filmSource" />
        <result column="film_cats" property="filmCats" />
        <result column="film_area" property="filmArea" />
        <result column="film_date" property="filmDate" />
        <result column="film_time" property="filmTime" />
        <result column="film_status" property="filmStatus" />
    </resultMap>

    <!--按分类ID查询-->
    <select id="queryFilmByCat" resultType="com.stylefeng.guns.rest.modular.film.bean.dictionary.Category">
        select UUID catId,show_name catName from mtime_cat_dict_t
        <if test='catId != "99"'>
          where UUID = #{catId}
        </if>
    </select>

    <!--按片源ID查询-->
    <select id="queryFilmBySource" resultType="com.stylefeng.guns.rest.modular.film.bean.dictionary.Source">
        select UUID sourceId,show_name sourceName from mtime_source_dict_t
        <if test='sourceId != "99"'>
          where UUID = #{sourceId}
        </if>
    </select>

    <!--按年代ID查询-->
    <select id="queryFilmByYear" resultType="com.stylefeng.guns.rest.modular.film.bean.dictionary.FilmYear">
        select UUID yearId,show_name yearName from mtime_year_dict_t
        <if test='yearId != "99"'>
          where UUID = #{yearId}
        </if>
    </select>

    <!--多条件查询映射结果-->
    <resultMap id="MutiResultMap" type="com.stylefeng.guns.rest.modular.film.bean.film.Film">
        <result column="UUID" property="filmId"/>
        <result column="film_type" property="filmType"/>
        <result column="img_address" property="imgAddress"/>
        <result column="film_name" property="filmName"/>
        <result column="film_score" property="filmScore"/>
    </resultMap>

    <!--统计多条件查询正在热映的影片总页数-->
    <select id="countHotFilms" resultType="java.lang.Integer">
        select count(*)
        from mtime_film_t
        <where>
            film_status = 1
            <if test='"99"!= catId'>
                and film_cats like CONCAT(CONCAT('%#',#{catId}),'%#')
            </if>
            <if test="sourceId != 99">
                and film_source = #{sourceId}
            </if>
            <if test="yearId != 99">
                and film_date = #{yearId}
            </if>
        </where>
        order by
        <if test="sortId == 1">
            film_time
        </if>
        <if test="sortId == 2">
            film_time
        </if>
        <if test="sortId == 3">
            film_score
        </if>
        limit #{pageSize} offset #{offset}

    </select>

    <!--多条件查询正在热映的影片-->
    <select id="getHotFilms" resultMap="MutiResultMap" >
        select UUID,film_type,img_address,film_name,film_score
        from mtime_film_t
        <where>
            film_status = 1
            <if test='"99"!= catId'>
                and film_cats like CONCAT(CONCAT('%#',#{catId}),'%#')
            </if>
            <if test="sourceId != 99">
                and film_source = #{sourceId}
            </if>
            <if test="yearId != 99">
                and film_date = #{yearId}
            </if>
        </where>
        order by
        <if test="sortId == 1">
            film_time
        </if>
        <if test="sortId == 2">
            film_time
        </if>
        <if test="sortId == 3">
            film_score
        </if>
        limit #{pageSize} offset #{offset}
    </select>

    <!--统计多条件查询即将上映的影片总页数-->
    <select id="countSoonFilms" resultType="java.lang.Integer">
        select count(*)
        from mtime_film_t
        <where>
            film_status = 2
            <if test='"99"!= catId'>
                and film_cats like CONCAT(CONCAT('%#',#{catId}),'%#')
            </if>
            <if test="sourceId != 99">
                and film_source = #{sourceId}
            </if>
            <if test="yearId != 99">
                and film_date = #{yearId}
            </if>
        </where>
        order by
        <if test="sortId == 1">
            film_time
        </if>
        <if test="sortId == 2">
            film_time
        </if>
        <if test="sortId == 3">
            film_score
        </if>
        limit #{pageSize} offset #{offset}

    </select>

    <!--多条件查询即将上映的影片-->
    <select id="getSoonFilms" resultMap="MutiResultMap" >
        select UUID,film_type,img_address,film_name,film_score
        from mtime_film_t
        <where>
            film_status = 2
            <if test='"99"!= catId'>
                and film_cats like CONCAT(CONCAT('%#',#{catId}),'%#')
            </if>
            <if test="sourceId != 99">
                and film_source = #{sourceId}
            </if>
            <if test="yearId != 99">
                and film_date = #{yearId}
            </if>
        </where>
        order by
        <if test="sortId == 1">
            film_time
        </if>
        <if test="sortId == 2">
            film_time
        </if>
        <if test="sortId == 3">
            film_score
        </if>
        limit #{pageSize} offset #{offset}
    </select>

    <!--统计多条件查询经典的影片总页数-->
    <select id="countClassicFilms" resultType="java.lang.Integer">
        select count(*)
        from mtime_film_t
        <where>
            film_status = 3
            <if test='"99"!= catId'>
                and film_cats like CONCAT(CONCAT('%#',#{catId}),'%#')
            </if>
            <if test="sourceId != 99">
                and film_source = #{sourceId}
            </if>
            <if test="yearId != 99">
                and film_date = #{yearId}
            </if>
        </where>
        order by
        <if test="sortId == 1">
            film_time
        </if>
        <if test="sortId == 2">
            film_time
        </if>
        <if test="sortId == 3">
            film_score
        </if>
        limit #{pageSize} offset #{offset}

    </select>

    <!--多条件查询经典的影片-->
    <select id="getClassicFilms" resultMap="MutiResultMap" >
        select UUID,film_type,img_address,film_name,film_score
        from mtime_film_t
        <where>
            film_status = 3
            <if test='"99"!= catId'>
                and film_cats like CONCAT(CONCAT('%#',#{catId}),'%#')
            </if>
            <if test="sourceId != 99">
                and film_source = #{sourceId}
            </if>
            <if test="yearId != 99">
                and film_date = #{yearId}
            </if>
        </where>
        order by
        <if test="sortId == 1">
            film_time
        </if>
        <if test="sortId == 2">
            film_time
        </if>
        <if test="sortId == 3">
            film_score
        </if>
        limit #{pageSize} offset #{offset}
    </select>

    <resultMap id="filmInfoVo" type="com.stylefeng.guns.rest.modular.film.bean.resultvo.FilmInfoResultVo">
        <result column="film_id" property="filmId"/>
        <result column="film_Name" property="filmName"/>
        <result column="film_en_name" property="filmEnName"/>
        <result column="img_address" property="imgAddress"/>
        <result column="film_score" property="score"/>
        <result column="film_score_num" property="scoreNum"/>
        <result column="film_box_office" property="totalBox"/>
    </resultMap>

    <!--获取影片详细信息第一部分-->
    <select id="getFilmInfo" resultMap="filmInfoVo">
        select
          film_id,
          film_Name,
          film_en_name,
          img_address,
          f.film_score,
          film_score_num,
          film_box_office
        from mtime_film_t f,mtime_film_info_t fi
        <where>
            <if test='searchType == "0" or searchType == null'>
                and f.UUID = #{name} and f.UUID = fi.UUID
            </if>
            <if test='searchType == "1"'>
                and f.film_name = #{name} and f.UUID = fi.UUID
            </if>
    </where>

    </select>

    <select id="getInfo1" resultType="java.lang.String">
        select film_cats
        from mtime_film_t f,mtime_film_info_t fi
        <where>
            <if test='searchType == "0" or searchType == null'>
                and f.UUID = #{name} and f.UUID = fi.UUID
            </if>
            <if test='searchType == "1"'>
                and f.film_name = #{name} and f.UUID = fi.UUID
            </if>
        </where>
    </select>

    <select id="getCatById" resultType="java.lang.String">
       select show_name
       from mtime_cat_dict_t
       where uuid = #{catId}
    </select>

    <select id="getfilmImgs" resultType="java.lang.String">
      SELECT film_imgs
      FROM `mtime_film_info_t`
        <where>
            <if test='searchType == "0" or searchType == null'>
                and UUID = #{name}
            </if>
            <if test='searchType == "1"'>
                and film_name = #{name}
            </if>
        </where>
    </select>

    <select id="getSource" resultType="java.lang.String">
        select show_name
        from mtime_source_dict_t
        where UUID = (
          select film_source
          from mtime_film_t
            <where>
                <if test='searchType == "0" or searchType == null'>
                    and UUID = #{name}
                </if>
                <if test='searchType == "1"'>
                    and film_name = #{name}
                </if>
            </where>
          )
    </select>
    <select id="getTime" resultType="java.lang.Integer">
        SELECT film_length
        FROM `mtime_film_info_t`
        <where>
            <if test='searchType == "0" or searchType == null'>
                and UUID = #{name}
            </if>
            <if test='searchType == "1"'>
                and film_name = #{name}
            </if>
        </where>
    </select>

    <select id="getFilmTime" resultType="java.lang.String">
        select film_time
        from mtime_film_t
        <where>
            <if test='searchType == "0" or searchType == null'>
                and UUID = #{name}
            </if>
            <if test='searchType == "1"'>
                and film_name = #{name}
            </if>
        </where>
    </select>

    <select id="getBiography" resultType="java.lang.String">
        <if test='searchType == "0" or searchType == null'>
            select biography
            from mtime_film_info_t
            where UUID = #{name}
        </if>
        <if test='searchType == "1"'>
            select biography
            from mtime_film_info_t
            where UUID = (
              select UUID
              from mtime_film_t
              where film_name = #{name}
              )
        </if>
    </select>

    <!--演员映射结果-->
    <resultMap id="ActorResultMap" type="com.stylefeng.guns.rest.modular.film.bean.film.Actor">
        <result column="actor_img" property="imgAddress"/>
        <result column="actor_name" property="directorName"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <select id="getActors" resultMap="ActorResultMap">
        SELECT actor_img,actor_name,role_name
        FROM mtime_actor_t f,mtime_film_actor_t a
        <where>
            <if test='searchType == "0" or searchType == null'>
                and f.UUID = a.actor_id and a.film_id = #{name}
            </if>
            <if test='searchType == "1"'>
                and f.UUID = a.actor_id
                and a.film_id = (
                    select UUID
                    from mtime_film_t
                    where film_name = #{name}
                )
            </if>
        </where>
    </select>

    <select id="getDirector" resultType="com.stylefeng.guns.rest.modular.film.bean.film.Director">
         select director_name directorName,director_address imgAddress from mtime_director_t d,mtime_film_info_t fi,mtime_film_t f
        <where>
            <if test='searchType == "0" or searchType == null'>
                d.UUID = fi.director_id and fi.film_id = f.UUID and fi.UUID = #{name}
            </if>
            <if test='searchType == "1"'>
                d.UUID = fi.director_id and fi.film_id = f.UUID and f.film_name = #{name}
            </if>
        </where>
    </select>

</mapper>
