<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.modular.order.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.modular.order.bean.OrderMsgData">
        <result column="film_name" property="filmName"/>
        <result column="begin_time" property="fieldTime"/>
        <result column="cinema_name" property="cinemaName"/>
        <result column="price" property="ticketPrice"/>
    </resultMap>
    <!--map根据需求自己建-->
    <select id="getCinemaMsgByFieldId" resultMap="BaseResultMap">
        SELECT film_name,begin_time,cinema_name,price from mtime_field_t field
        left join mtime_cinema_t cinema on field.cinema_id=cinema.UUID
        left join mtime_film_t film on field.film_id=film.UUID
        where field.UUID=#{fieldId}
    </select>
    <resultMap id="fieldMap" type="com.stylefeng.guns.rest.modular.order.bean.Field">
        <result column="UUID" property="fieldId"/>
        <result column="cinema_id" property="cinemaId"/>
        <result column="film_id" property="filmId"/>
    </resultMap>
    <select id="selectFieldMsgByOrderVo" resultMap="fieldMap">
        select UUID,cinema_id,film_id from mtime_field_t where UUID=#{orderVo.fieldId}
    </select>
    <select id="selectUserIdByUsername" resultType="_int">
        select UUID from mtime_user_t where user_name=#{username}
    </select>
    <select id="getJsonAddressByFieldId" resultType="String">
        select seat_address from mtime_field_t field
        left join mtime_hall_dict_t hall on hall.UUID=field.hall_id
        where field.UUID= #{fieldId}
    </select>

    <insert id="insertOrder">
        insert into mooc_order_t
        (UUID,cinema_id,field_id,film_id,seats_ids,seats_name,film_price,order_price,order_time,order_user,order_status)
        values
        (#{orderMsgData.orderId},
        #{field.cinemaId},
        #{field.fieldId},
        #{field.filmId},
        #{orderMsgData.seatsIds},
        #{orderMsgData.seatsName},
        #{orderMsgData.ticketPrice},
        #{orderMsgData.orderPrice},
        now(),
        #{userId},
        0)
    </insert>

    <!--map根据需求自己建-->

    <resultMap id="getOrderInfoResultMap" type="com.stylefeng.guns.rest.modular.order.bean.OrderMsgData">
        <result column="UUID" property="orderId"/>
        <result column="film_name" property="filmName"/>
        <result column="field_time" property="fieldTime"/>
        <result column="cinema_name" property="cinemaName"/>
        <result column="seats_name" property="seatsName"/>
        <result column="order_price" property="orderPrice"/>
        <result column="order_status" property="orderStatus"/>
        <result column="hall_name" property="hallName"/>
        <result column="src" property="src"/>
    </resultMap>
    <select id="getOrderInfo" resultMap="getOrderInfoResultMap">
        select mot.UUID as UUID,film_name,CONCAT( order_time,' ',begin_time) as field_time,cinema_name,seats_name,order_price,order_status,hall_name,mhfit.img_address as src
        from (select * from mooc_order_t where order_user = (select UUID from mtime_user_t where user_name=#{username})) as mot
        left join mtime_cinema_t as mct on mot.cinema_id=mct.UUID
        left join mtime_hall_film_info_t as mhfit on mot.film_id=mhfit.film_id
        left join mtime_field_t as mft on mot.field_id=mft.UUID
    </select>
    <select id="getOrderSeatNumber" resultType="string">
        SELECT GROUP_CONCAT(seats_ids separator ',')
        FROM mooc_order_t
        where cinema_id=#{cinemaId} and field_id=#{fieldId}
            and order_status in (0,1)
    </select>
</mapper>

